.are-box__custom {
  padding: 40px 15px !important;
}

.img_custom {
  width: 100%;
}

.title_custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button_custom {
  width: 100%;
  background-color: antiquewhite;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.container_custom {
  margin-top: -20px;
}

.home-product-item__sale-off {
  position: absolute;
  right: 25px;
  top: 0;
  width: 42px;
  height: 40px;
  background-color: rgba(255, 216, 64, 0.94);
  text-align: center;
  border-top-right-radius: 2px;
  display: flex;
  flex-direction: column;
}

.home-product-item__sale-off::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  border-width: 0 20px 6px;
  border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
  color: #ee4d4d;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.3rem;
  position: relative;
  top: 2px;
}

.home-product-item__sale-off-lable {
  font-size: 1.4rem;
  line-height: 1.3rem;
  color: var(--while-color);
  position: relative;
  top: 0;
  font-weight: 600;
}
/* custom list menu category */
.icon__menu--category {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-align: center;
}

.icon__menu--category i {
  font-size: 50px;
  line-height: 20px;
  color: #ee4d4d;
  margin-bottom: 20px;
  cursor: pointer;
  text-align: center;
}
